@model UsuarioModel

@{
    ViewData["Title"] = "Registro de Usuario";
}

<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Registrar Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="nombre" class="form-control rounded-3" id="floatingInput" placeholder="Juan Perez">
                        <label for="floatingInput" asp-for="nombre">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="edad" class="form-control rounded-3" id="floatingInput" placeholder="19">
                        <label for="floatingInput" asp-for="edad">Edad</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="correo" class="form-control rounded-3" id="floatingInput" placeholder="prueba@prueba.com">
                        <label for="floatingInput" asp-for="correo">Correo Electronico</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Registrar</button>
                    <small class="text-muted">Este es un formulario de ejemplo</small>
                </form>
            </div>
        </div>
    </div>
</div>